In [1]:
list1 = [1,2,3]

In [2]:
list1.append(4)

list1

[1, 2, 3, 4]

In [3]:
list1.count(10)

0

In [4]:
list1.count(2)

1

In [5]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [7]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [8]:
list1.index(2)

1

In [9]:
list1.index(12)

ValueError: 12 is not in list

In [10]:
list1

[1, 2, 3, 4]

In [12]:
# Place a letter at the index 2
list1.insert(2,'inserted')

In [13]:
list1

[1, 2, 'inserted', 'inserted', 3, 4]

In [14]:
ele = list1.pop(1)  # pop the second element

In [15]:
list1

[1, 'inserted', 'inserted', 3, 4]

In [16]:
ele

2

In [15]:
list1

[1, 'inserted', 3, 4]

In [17]:
list1.remove('inserted')

In [18]:
list1

[1, 'inserted', 3, 4]

In [19]:
list2 = [1,2,3,4,3]

In [20]:
list2.remove(3)

In [21]:
list2

[1, 2, 4, 3]

In [22]:
list2.reverse()

In [23]:
list2

[3, 4, 2, 1]

##

In [24]:
list2

[3, 4, 2, 1]

In [25]:
list2.sort()

In [26]:
list2

[1, 2, 3, 4]

In [27]:
list2.sort(reverse=True)

In [28]:
list2

[4, 3, 2, 1]

In [29]:
x = 'hello world'

In [31]:
y = x.upper()

In [32]:
print(y)

HELLO WORLD

This will NOT work the same way with lists:

In [33]:
x = [1,2,3]

In [34]:
y = x.append(4)

In [35]:
print(y)

None

What happened? In this case, since list methods like <code>append()</code> affect the list *in-place*, the operation returns a None value. This is what was passed to **y**. In order to retain **x** you would have to assign a *copy* of **x** to **y**, and then modify **y**:

In [36]:
x = [1,2,3]
y = x.copy()
y.append(4)

In [37]:
print(x)

[1, 2, 3]

In [38]:
print(y)

[1, 2, 3, 4]